.menu{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.menu h1{
    color: #0D2249;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.menu-list{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.menu-list::-webkit-scrollbar{
    display: none;
}
.menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.menu-list-item p{
    color: #0D2249;
    margin-top: 10px;
    font-size:max(1.4vw,16px);
    cursor: pointer;

}

.menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: aliceblue;
    border: none;
}
.active{
    border: 4px solid #6CB8A0;
    padding: 2px;
}

@media(max-width:1050px){
    .menu-list-item p{
        max-width: 100%;
        font-size: 14px;
    }
}